.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.cabecera {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  text-shadow: 3px 3px 8px #000000bc;
}

/* Pantallas pequeñas */
@media only screen and (max-width: 800px) {
  .cabecera {
    height: 100px;
  }

  .formulario {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Pantallas medianas */
@media only screen and (min-width: 800px) and (max-width: 1500px) {
  .cabecera {
    height: 200px;
  }

  .formulario {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* Pantallas grandes */
@media only screen and (min-width: 1500px) {
  .cabecera {
    height: 300px;
  }

  .formulario {
    padding-left: 30%;
    padding-right: 30%;
  }
}

.navegacion {
  float:"right";
  display:"inline";
}

.logo {
  width: 8rem;
  height: auto;
}