:root {
  --cPrim: rgb(171, 42, 62);
  --cPrimDark: rgb(151, 22, 22);
  --cPrimLight: rgb(199, 65, 65);
  --cPrimFocus: rgba(165, 45, 45, 0.586);
}


.espacio {
  padding-top: 1cm;
}

.titulo-error {
  font-size: 10rem;
  padding-top: 3%;
}

.cabecera {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: white;
  text-shadow: 3px 3px 8px #000000bc;
}

.imagen {
  height: auto;
  width: 100%;
}

/* Pantallas pequeñas */
@media only screen and (max-width: 800px) {
  .cabecera {
    height: 100px;
  }

  .formulario {
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Pantallas medianas */
@media only screen and (min-width: 800px) and (max-width: 1500px) {
  .cabecera {
    height: 200px;
  }

  .formulario {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/* Pantallas grandes */
@media only screen and (min-width: 1500px) {
  .cabecera {
    height: 300px;
  }

  .formulario {
    padding-left: 30%;
    padding-right: 30%;
  }
}

.navegacion {
  float:"right";
  display:"inline";
}

.logo {
  width: 8rem;
  height: auto;
}

.scrolleable {
  max-height: 30rem;
  overflow-y: auto;
}

button.primario{
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--cPrim);
  color:rgb(255,255,255);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

button.primario:hover {
  color: #fff;
  background-color: var(--cPrimDark);
  border-color: transparent;
}

button.primario:hover:active{
  background-color: var(--cPrimDark);
}
button.primario:active:focus{
  background-color: var(--cPrimDark);
}

button.edicion {
  font-size: larger;
  padding: 0;
  padding-left: 10%;
  padding-right: 10%;
  color: black;
}

button.eliminar{
  font-size: larger;
  padding: 0;
  color: black;  
}

button.eliminar:hover {  
  color: red;
}

button.incidencia:hover {
  color: rgb(255,204, 0);
}

.inline-r {
  text-align: right;
}

th {
  vertical-align: middle;
}

.screen-centered {
  display: grid;
  place-items: center;
  height: 100vh;
}

.screen-centered > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seleccionable:hover {
  cursor: pointer;
}

.react-bingmaps {
  height: 90% !important;
}

.btn.btn-primary {
  background-color: var(--cPrim) !important;
  border-color: var(--cPrim) !important;
}

.page-link {
  color: gray !important;
}

.page-link.active {
  background-color: var(--cPrim) !important;
  border-color: var(--cPrim) !important;
  color: white !important;
}

.btn.btn-primary:hover {
  background-color: var(--cPrimLight) !important;
  border-color: var(--cPrimDark) !important;
}

.btn.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem var(--cPrimFocus) !important;
}

.btn.btn-primary:active {
  background-color: var(--cPrimDark) !important;
  border-color: var(--cPrimDark) !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

.btn.btn-primary:disabled {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}